html
{
	width: 100%;
	height: 100%;
}

body
{
	width: 80%;
	height: 60%;
	margin-left: 10%;
	margin-right: 10%;
}

#motto
{
	color: #789922; //>Implying
}

#content
{
	color: #698588;
	width: 100%;
	height: calc(90% + 400px / 2);
	border-radius: 4px;
	background-color: #c3cfcf;
	border: 1px solid #a6b8ba;
	padding: 10px;
	overflow: auto;
}

#cutout
{
	width: 365px;
	height: 400px;

	position: absolute;
	right: 0%;
	bottom: 0%;

	visibility: hidden;

    background-repeat: no-repeat;

	background-image: url('../pics/heygiovi.png');
}

#githublogo
{
	width: 120px;
	height: 120px;

	position: absolute;
	right: 0%;
	top: 0%;

	visibility: hidden;

    background-repeat: no-repeat;

	background-image: url('../pics/github_kurisufied.png');
}

#githublogo:hover
{
	background-image: url('../pics/github_kurisufied_hover.png');
}

li
{
	list-style-type: none;
}

a
{
	text-decoration: none !important;
	color: #8f513c;
}