body
{
	margin-left: 10%;
	margin-right: 10%;
}

#motto
{
	color: #789922; //>Implying
}

#cutout, #hidden
{
	width: 370px;
	height: 370px;

	position: absolute;
	right: 0%;
	bottom: 0%;
	
	visibility: hidden;

    background-repeat: no-repeat;
}

#cutout
{
	background-image: url('../pics/handsome_guy_eating_a_nugget.png');
}

#hidden
{
	background-image: url('../pics/secret.png');
}