body {
	font-family: sans-serif;
	background-color: #1E262F;
	color: #BBB;
}

#filter-wrapper {
	text-align: center;
	margin-bottom: 20px;
}

#picks-wrapper {
	text-align: center;
	margin-bottom: 20px;
}

#selected-slot {
	box-shadow: 0 0 15px white;
}

.picked-hero {
	width: 126px;
	height: 70px;

	display: inline-block;

	border: 1px solid #aaa;

	background-image: url('../pics/unknown_hero.png');
	background-size: cover;
}

.picked-hero:hover {
	border: 1px solid white;
}

#roster {
	line-height: 0px;
	width: 900px;
	margin: auto;
	background-color: #242F39;
	border-bottom: 10px solid #1c252d;
	padding: 5px;
	margin-bottom: 15px;
}

.roster-hero {
	width: 96px;
	height: 54px;
	display: inline-block;

	margin: 2px;

	background-image: url('../pics/unknown_hero.png');
	background-size: cover;

	border-radius: 5px;

	box-sizing: border-box;
}

.roster-hero:hover:not(.roster-hero-picked){
	border: 1px solid white;
	box-shadow: 0 0 15px white;
}

.roster-hero-picked {
	opacity: 0.3;
	border: 1px solid white;
}

.roster-hero-filtered:not(.roster-hero-picked) {
	-webkit-filter: brightness(20%);
	-moz-filter: brightness(20%);
	filter: brightness(20%);
}

#footer {
	text-align: center;
}
